<style type="text/css">
    .settings_td {
        padding: 10px;
    }
</style>

<h3>Twitter Forwarding Settings</h3>
<table>
    <tr>
        <td class="settings_td">SMS</td>
        <td class="settings_td">
            <div class="make-switch" data-on="success">
                <input type="checkbox" checked />
            </div>
        </td>
    </tr>
    <tr>
        <td class="settings_td">Voice</td>
        <td class="settings_td">
            <div class="make-switch" data-on="success">
                <input type="checkbox" checked />
            </div>
        </td>
    </tr>
    <tr>
        <td class="settings_td">Email</td>
        <td class="settings_td">
            <div class="make-switch" data-on="success">
                <input type="checkbox" checked />
            </div>
        </td>
    </tr>
</table>