<div class="container">

    <%= render 'shared/hero' %>
      
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Text</h2>
          <p>Don't have access to the internet?  Don't worry! Send us a text to get your message out.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Voice</h2>
          <p>Journalists and citizen reporters can create a voice report without leaving a digital footprint.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Email?</h2>
          <p>anonymously send an email???</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
      </div>
</div>