<h1>Text Alert</h1>

<table class="table" style="margin: 50px">
    <tr>
        
        <th>SMS</th>
        <th>Twitter Feed</th>
    </tr>
    <tr>
        <td style="font-size: 20px;">202-436-9431</td>
        <td><a href="http://twitter.com/vozlocal">@VozLocal</a></td>
    </tr>
    
</table>

<h4>More coming soon!</h4>