 <footer>
        <p>&copy; VozLocal 2013 &nbsp; Email us: <a href="mailto:vozlocal1@gmail.com">VozLocal1@gmail.com</a> &nbsp;
Follow us: <a href="http://twitter.com/vozlocal">@VozLocal</a></p>
</footer>