<!-- Main hero unit for a primary marketing message or call to action -->
<style type="text/css">
    .hero-unit {
        color: #FFFFFF;
        background-image: url('/images/mexico_city_7.jpg');    
        background-repeat:no-repeat;
      }
      
      .description {
        color: #FFFFFF;
        text-shadow: 5px 5px 10px #000000;
        font-size: 19px;
      }
      
    .name {
        margin-bottom: 0px;
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
        color: inherit;
    }
    
    .motto {
        font-size: 25px;
        text-shadow: 5px 5px 10px #000000;
    }
    
    
    
</style>

<div class="hero-unit">
    <p><span id="title" class="name">VozLocal</span>&nbsp;&nbsp; &nbsp;&nbsp;<span class="motto">To the masses, the engaged, the weary... </span></p>
    <p class="description">Anonymously report details of threatening situations in your area for public awareness </p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a>
</div>